+++
author = "Birju Vachhani"
categories = ["Android"]
cover = ""
date = 2019-11-25T10:21:19Z
draft = true
tags = ["android"]
title = "Image Snippet"

+++
{{< figure src="/assets/images/android-location-settings-dialog.png" alt="Location Settings Dialog" caption="Location Settings Dialog" >}}