@font-face {
  font-family: 'Mayo Sans';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/MayoSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Mayo Sans';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/MayoSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Mayo Serif';
  font-style:  bold;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/MayoSerif-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Mayo Serif Display';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/MayoSerifDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Mayo Serif Display';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/MayoSerifDisplay-Bold.woff2") format("woff2");
}