<header class="header">
    <span class="header__inner">
        {{ partial "logo.html" . }}

        <span class="header__right">
            {{ if len .Site.Menus }}
                {{ partial "menu.html" . }}
                <span class="theme-toggle unselectable">{{ partial "theme-icon.html" . }}</span>
                <span class="menu-trigger">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </span>
            {{ end }}
        </span>
    </span>
</header>
